@import '../../global.css';

.sage-thought-card{
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
    max-height: 6.5em;
    border: var(--main) 2px solid;
    font-size: 1.5em;
    border-radius: 10px; 
    background-color: #8D9C81;

}


.sage-thought-text {
    text-align: justify;
    overflow-wrap: break-word;
    overflow: hidden;
    max-width: 85%;
}